<!DOCTYPE html>
<html lang="es">
{% load static %}

<!-- Incluir la plantilla del head -->
{% include 'core/plantillas/dame_head.html' %}


<head>
  <title>MusicPro - Tienda</title>

  <!-- CSS Propio -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

  <link rel="stylesheet" href="{% static 'css/tienda.css' %}">


</head>

<body>
  {% load humanize %}
  <!-- Incluir la barra de navegación -->
  {% include 'core/plantillas/navbar.html' %}


  <!-- Sección Banner  -->
  {% load static %}
  <!-- Sección Hero -->
  <section class="hero">
    <div class="hero-inner">
      <h1>Componentes Recomendados</h1>

      <h2>
        <p>Compártenos</p>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-pinterest"></i></a>
        </div>
      </h2>
    </div>
  </section>

  <style>
    /* Sección Hero */
    .hero {
      width: 100%;
      height: 91vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images3.alphacoders.com/132/1329171.png") center/cover fixed;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
      /* Sombra más notoria */
    }

    .hero h1 {
      font-size: 5em;
    }

    .social-links a {
      color: white;
      /* Cambia el color de los iconos a blanco */
      text-decoration: none;
      /* Elimina el subrayado de los enlaces (opcional) */
      margin: 0 5px;
      /* Añade margen entre los iconos */
    }

    .social-links a:hover {
      color: #ff7d7d;
      /* Cambia el color al pasar el mouse (opcional) */
    }
  </style>



<!-- Sección Productos - Tarjetas de video -->
<section class="product">
  <h2 class="product-category">Tarjetas de video</h2>
  <button class="pre-btn"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
  <button class="nxt-btn"><i class="fa-solid fa-arrow-right fa-2xl"></i></button>
  <div class="product-container">
      {% if productos %}
          {% for p in productos %}
          <div class="product-card">
              {% if p.imagen_uno %}
              <div class="product-image">
                  <span class="discount-tag"></span>
                  <img src="{{ p.imagen_uno.url }}" class="product-thumb" alt="" style="border-radius: 10px;">
                  <div class="button-container"> <!-- Contenedor para los botones -->

                      <a type='button' class='card-btn' href="{% url 'detalle_producto' p.id %}" style="text-align: center;">Ir al producto</a>
                      {% if perms.core.delete_producto %} <!-- Cambia 'add_producto' a 'delete_producto' según sea necesario -->
                      <a type='button' class='card-btn' href="producto/{{ p.id }}/eliminar" style="text-align: center;">Eliminar</a>
                      {% endif %}
                  </div>
              </div>
              {% endif %}
              <div class="product-info">
                  <h8 class="product-brand">{{ p.nombre_producto }}</h8><br>
                  <span class="price">${{ p.precio_producto | intcomma }}</span><span class="actual-price"></span>
              </div>
          </div>
          {% endfor %}
      {% else %}
          <div class="no-products-message">
              <p>No hay productos disponibles :(</p>
          </div>
      {% endif %}
  </div>
</section>

<!-- Sección Productos - Procesadores -->
<section class="product">
  <h2 class="product-category">Procesadores</h2>
  <button class="pre-btn"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
  <button class="nxt-btn"><i class="fa-solid fa-arrow-right fa-2xl"></i></button>
  <div class="product-container">
      {% if procesadores %}
          {% for ps in procesadores %}
          <div class="product-card">
              {% if ps.imagen_uno %}
              <div class="product-image">
                  <span class="discount-tag"></span>
                  <img src="{{ ps.imagen_uno.url }}" class="product-thumb" alt="" style="border-radius: 10px;">
                  <div class="button-container"> <!-- Contenedor para los botones -->
                      <a type='button' class='card-btn' href="{% url 'detalle_producto' ps.id %}" style="text-align: center;">Ir al producto</a>
                      {% if user.is_authenticated and user.rol.nombreRol == 'Administrador' %}
                      <a type='button' class='card-btn' href="producto/{{ ps.id }}/eliminar" style="text-align: center;">Eliminar</a>
                      {% endif %}
                  </div>
              </div>
              {% endif %}
              <div class="product-info">
                  <h8 class="product-brand">{{ ps.nombre_producto }}</h8><br>
                  <span class="price">${{ ps.precio_producto | intcomma }}</span><span class="actual-price"></span>
              </div>
          </div>
          {% endfor %}
      {% else %}
          <div class="no-products-message">
              <p>No hay productos disponibles :(</p>
          </div>
      {% endif %}
  </div>
</section>

<!-- Sección Productos - Placas madre -->
<section class="product">
  <h2 class="product-category">Placas madre</h2>
  <button class="pre-btn"><i class="fa-solid fa-arrow-left fa-2xl"></i></button>
  <button class="nxt-btn"><i class="fa-solid fa-arrow-right fa-2xl"></i></button>
  <div class="product-container">
      {% if placamadre %}
          {% for pm in placamadre %}
          <div class="product-card">
              {% if pm.imagen_uno %}
              <div class="product-image">
                  <span class="discount-tag"></span>
                  <img src="{{ pm.imagen_uno.url }}" class="product-thumb" alt="" style="border-radius: 10px;">
                  <div class="button-container"> <!-- Contenedor para los botones -->
                      <a type='button' class='card-btn' href="{% url 'detalle_producto' pm.id %}" style="text-align: center;">Ir al producto</a>
                      {% if user.is_authenticated and user.rol.nombreRol == 'Administrador' %}
                      <a type='button' class='card-btn' href="producto/{{ pm.id }}/eliminar" style="text-align: center;">Eliminar</a>
                      {% endif %}
                  </div>
              </div>
              {% endif %}
              <div class="product-info">
                  <h8 class="product-brand">{{ pm.nombre_producto }}</h8><br>
                  <span class="price">${{ pm.precio_producto | intcomma }}</span><span class="actual-price"></span>
              </div>
          </div>
          {% endfor %}
      {% else %}
          <div class="no-products-message">
              <p>No hay productos disponibles :(</p>
          </div>
      {% endif %}
  </div>
</section>
  <!-- JavaScript -->
  <script src="{% static 'js/tienda.js' %}"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

<!-- Footer -->
{% include 'core/plantillas/footer.html' %}

</html>