<section class="hero1">
    <div class="hero-inner">
      <div id="displayText">
        <h1>¡Hablame!</h1>
        <h3>¡Descubre nuestra poderosa inteligencia artificial!</h3>
        <h3>Permítele prestarte asistencia en construir tu computadora</h3>
      </div>
      <button id="myButton" class="myButton" onclick="replaceButton()">Comenzar</button>
    </div>
  </section>

  <style>
    /* Sección Hero */
    .hero1 {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.daibau.ng/showfile.php?id=11707") center/cover fixed;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8); /* Sombra más notoria */
    }

    .hero h1 {
        font-size: 5em;
    }

    .social-links a {
        color: white; /* Cambia el color de los iconos a blanco */
        text-decoration: none; /* Elimina el subrayado de los enlaces (opcional) */
        margin: 0 5px; /* Añade margen entre los iconos */
    }

    .social-links a:hover {
        color: #ff7d7d; /* Cambia el color al pasar el mouse (opcional) */
    }


  </style>